@use "base";
@use "components";/* funkade inte utan @import */
@import "components";

* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1em;
}

//meny
header {
    background-color: base.$color-primary;
    color: white;
    height: 80px;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
}

li {
    margin-top: 35px;
    font-weight: 600;
}

.current-page {
    background-color: base.$color-primary-darker;
    padding: 0.8em;
    margin-top: 22px;
    border-radius: 20px;
}

ul a {
    color: white;
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
}

//main
h1 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    max-width: 70%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

main {
    max-width: 70%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    padding: 1.3em;
}

main p {
    margin-bottom: 1em;
}

h2 {
    padding: 1em;
    margin-bottom: 1.3em;
    text-align: center;
}

//logga in
.sign-in {
    border-bottom: 1px solid black;
    padding: 1em;
    text-align: center;
}

.sign-in div {
    margin-top: 1.5em;
}

.sign-in input {
    margin-top: 0.8em;
}

form input {
    border-radius: 20px;
    border: 1px solid base.$color-primary-darker;
}


//knappar
#sign-up-button, #sign-in-button {
    @include button;
}

#sign-up-button:hover, #sign-in-button:hover {
    background-color: base.$color-primary-darker;
    cursor: pointer;
}



//PROFILE
article {
    text-align: center;
}

article h2 {
    margin-bottom: -10px;;
}

article p {
    border: 1px solid base.$color-primary-darker;
    border-radius: 20px;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8em;
}



//DESKTOP
@media (min-width: 1024px) {

    //main
    h1 {
        text-align: center;
    }
    
    main {
        align-items: center;
        text-align: center;
    }

    //PROFILE
    article p {
        width: 40%;
    }
}